In [1]:
import pandas as pd
import numpy as np
import boto3

client = boto3.client('s3')

bucket='asdi-hackathon'

file_key1 = 'population-data/popcsv/longitude0.csv'
file_key2 = 'population-data/popcsv/longitudeNeg10.csv'

csv_obj1 = client.get_object(Bucket=bucket, Key=file_key1)
csv_obj2 = client.get_object(Bucket=bucket, Key=file_key1)

obj1 = client.get_object(Bucket=bucket, Key=file_key1)
obj2 = client.get_object(Bucket=bucket, Key=file_key2)

df1 = pd.read_csv(obj1['Body'])
df2 = pd.read_csv(obj2['Body'])

#df = pd.read_csv('/Users/joshua.grefte/Projects/ASDI/Data/so2_sentinel_01-16june.csv')

In [25]:
df1.head()

   Unnamed: 0   latitude  longitude  population
0     1308823  51.560139   0.227083     5.40624
1     1308824  51.560694   0.226250     5.40624
2     1308825  51.560417   0.226250     5.40624
3     1308826  51.560417   0.228472     5.40624
4     1308827  51.559861   0.227361     5.40624

In [26]:
df2.head()

   Unnamed: 0   latitude  longitude  population
0      126943  51.620417  -0.288472   46.080284
1      126944  51.620417  -0.289306   46.080284
2      126945  51.620417  -0.289028   46.080284
3      126946  51.620139  -0.288194   46.080284
4      126947  51.620139  -0.288750   46.080284

In [27]:
df = df1.append(df2)
df = df.drop('Unnamed: 0', axis = 1)
df

/var/folders/70/yx3rlp812k545ncgsfplvcbc0000gn/T/ipykernel_27501/2697515025.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df1.append(df2)

          latitude  longitude  population
0        51.560139   0.227083    5.406240
1        51.560694   0.226250    5.406240
2        51.560417   0.226250    5.406240
3        51.560417   0.228472    5.406240
4        51.559861   0.227361    5.406240
...            ...        ...         ...
1148462  51.554583  -0.208472   33.506246
1148463  51.553750  -0.207639   33.506246
1148464  51.554028  -0.207639   33.506246
1148465  51.554861  -0.208750   33.506246
1148466  51.553750  -0.207361   33.506246

[1625281 rows x 3 columns]

In [28]:
print(max(df['latitude']))
min(df['latitude'])

51.69291666666667

51.26513888888889

In [29]:
print(max(df['longitude']))
min(df['longitude'])

0.56125

-0.7465277777777778

In [30]:
nrow_before = len(df)
df_filter = df[(df['latitude'] > 51.239405) & (df['latitude'] < 51.737184)]
df_filter = df_filter[(df_filter['longitude'] > -0.625211) & (df_filter['longitude'] < 0.328289)]
nrow_after = len(df_filter)
print('Number of rows removed:', nrow_before - nrow_after)
df = df_filter

Number of rows removed: 264834

In [31]:
df

          latitude  longitude  population
0        51.560139   0.227083    5.406240
1        51.560694   0.226250    5.406240
2        51.560417   0.226250    5.406240
3        51.560417   0.228472    5.406240
4        51.559861   0.227361    5.406240
...            ...        ...         ...
1148462  51.554583  -0.208472   33.506246
1148463  51.553750  -0.207639   33.506246
1148464  51.554028  -0.207639   33.506246
1148465  51.554861  -0.208750   33.506246
1148466  51.553750  -0.207361   33.506246

[1360447 rows x 3 columns]

In [32]:
#haversine requires latitude and longitude in radians
import math
df['latitude'] = df['latitude'].apply(math.radians)
df['longitude'] = df['longitude'].apply(math.radians)

In [33]:
from sklearn.neighbors import KNeighborsRegressor

#use all of data in train
X_train = df[['latitude', 'longitude']]
y_train = df['population'].ravel()

#use best k value
#lower k value works better for accuracy's sake for high resolution datasets such as pop density
k = 1
model = KNeighborsRegressor(n_neighbors=k, weights = 'distance', algorithm = 'brute', metric = 'haversine', n_jobs = -1)
model.fit(X_train, y_train)

KNeighborsRegressor(algorithm='brute', metric='haversine', n_jobs=-1,
                    n_neighbors=1, weights='distance')

In [34]:
#pickle final model
import pickle
filename = 'popdensity_model.pkl'
model = model
pickle.dump(model, open(filename, 'wb'))