In [4]:
import sys
import pathlib

ROOT = pathlib.Path().absolute().parent.as_posix()
if ROOT not in sys.path:
    sys.path.append(ROOT)
    
from helpers import *

In [5]:
points_df = get_spaced_point_set_in_bbox(0.1, (51.239405, -0.625211), (51.737184, 0.328289))   #0.1 = 1/10th of a km = resolution to set for data
points_df.to_csv(ROOT + '/Spikes/Dash/data/points_df.csv')

553

100%|██████████| 553/553 [00:03<00:00, 175.94it/s]

In [6]:
points_df

         Latitude  Longitude
0       51.737184  -0.621051
1       51.737184  -0.619599
2       51.737184  -0.618147
3       51.737184  -0.616695
4       51.737184  -0.615242
...           ...        ...
364791  51.236953   0.325420
364792  51.236941   0.326857
364793  51.236930   0.328293
364794  51.236918   0.329729
364795  51.236907   0.331165

[364796 rows x 2 columns]