In [1]:
import sys
import pathlib

ROOT = pathlib.Path().absolute().parent.as_posix()
if ROOT not in sys.path:
    sys.path.append(ROOT)
    
from helpers import *

In [6]:
points_df = get_spaced_point_set_in_bbox(0.5, (51.239405, -0.625211), (51.737184, 0.328289))   #0.1 = 1/10th of a km = resolution to set for data
points_df.to_csv(ROOT + '/Spikes/Dash/data/points_df.csv')

221

100%|██████████| 221/221 [00:00<00:00, 535.36it/s]

In [7]:
points_df

        Latitude  Longitude
0      51.737184  -0.620643
1      51.737184  -0.617012
2      51.737184  -0.613382
3      51.737183  -0.609751
4      51.737183  -0.606120
...          ...        ...
58243  51.238843   0.312049
58244  51.238815   0.315640
58245  51.238786   0.319231
58246  51.238757   0.322822
58247  51.238728   0.326412

[58248 rows x 2 columns]