In [1]:
import sys
import pathlib
import pandas as pd
import numpy as np
import boto3

ROOT = pathlib.Path().absolute().parent.as_posix()
if ROOT not in sys.path:
    sys.path.append(ROOT)
    
from helpers import *

In [2]:
df = pd.read_csv(ROOT + '/Spikes/Dash/data/land_type_025.csv', index_col = 0)

In [3]:
df.head()

,Latitude,Longitude,Airport,Water,Building,Green_Space,Railway_Station,Urban_Area
0,51.737184,-0.620643,False,False,False,True,False,False
1,51.737184,-0.617012,False,False,False,False,False,False
2,51.737184,-0.613382,False,False,True,True,False,False
3,51.737183,-0.609751,False,False,True,True,False,False
4,51.737183,-0.606120,False,False,False,True,False,False

In [5]:
def boolean_to_binary():
    for i in ['Airport', 'Water', 'Building', 'Green_Space', 'Railway_Station', 'Urban_Area']:
        df[i] = df[i].astype(int)
        
boolean_to_binary()

In [6]:
df.head()

,Latitude,Longitude,Airport,Water,Building,Green_Space,Railway_Station,Urban_Area
0,51.737184,-0.620643,0,0,0,1,0,0
1,51.737184,-0.617012,0,0,0,0,0,0
2,51.737184,-0.613382,0,0,1,1,0,0
3,51.737183,-0.609751,0,0,1,1,0,0
4,51.737183,-0.606120,0,0,0,1,0,0

In [7]:
df.to_csv(ROOT + '/Spikes/Dash/data/processed_land_type_025.csv')

In [12]:
len(df)

58248

In [10]:
len(df[df['Green_Space'] == 1])

45953

In [13]:
len(df[df['Airport'] == 1])

3

In [14]:
len(df[df['Water'] == 1])

13839

In [15]:
len(df[df['Railway_Station'] == 1])

767

In [16]:
len(df[df['Urban_Area'] == 1])

38499