In [1]:
import sys
import pathlib
import pandas as pd
import numpy as np
import boto3
import time

ROOT = pathlib.Path().absolute().parent.as_posix()
if ROOT not in sys.path:
    sys.path.append(ROOT)
    
from helpers import *

In [2]:
df = fill_penultimate_df()

df.to_csv(ROOT_FOLDER_PATH + '/Spikes/Dash/data/final_df.csv', index = False)
upload_df_to_s3(bucket = 'asdi-hackathon', df = df, key = 'final-data/final_df.csv')

popd_weight =  0.7516089956952361
apply_greenspace_score_function complete
Time taken: 2.64

In [3]:
print(df.columns)

Index(['Longitude', 'Airport', 'Water', 'Building', 'Green_Space',
       'Railway_Station', 'Urban_Area', 'Value_co', 'Value_no2', 'Value_o3',
       'Value_so2', 'Value_ai', 'AQ_score', 'Pop_density', 'Greenspace_score',
       'avg_penalty_reward'],
      dtype='object')

In [4]:
df['Greenspace_score'].describe()

count    58248.000000
mean         1.864623
std          3.411627
min          0.256682
25%          0.611407
50%          1.102353
75%          2.111340
max        171.875869
Name: Greenspace_score, dtype: float64

In [5]:
df['AQ_score'].describe()

count    58248.000000
mean         0.381069
std          0.032828
min          0.221994
25%          0.356565
50%          0.374261
75%          0.403724
max          0.652611
Name: AQ_score, dtype: float64

In [6]:
df['avg_penalty_reward'].describe()

count    58248.000000
mean         0.825646
std          0.094512
min          0.458333
25%          0.791667
50%          0.833333
75%          0.916667
max          1.041667
Name: avg_penalty_reward, dtype: float64

In [7]:
df[df['Greenspace_score'] > 100]

,Longitude,Airport,Water,Building,Green_Space,Railway_Station,Urban_Area,Value_co,Value_no2,Value_o3,Value_so2,Value_ai,AQ_score,Pop_density,Greenspace_score,avg_penalty_reward
Latitude,,,,,,,,,,,,,,,,
51.578552,-0.078596,0,0,1,1,0,1,0.780261,0.006003,7.273836,0.029364,-0.884764,0.425238,429.353668,134.726298,0.833333
51.565224,-0.114359,0,0,1,1,0,1,0.790799,0.006245,7.284515,0.032294,-0.943866,0.446052,328.045868,103.012684,0.833333
51.527319,-0.192689,0,0,1,1,0,1,0.787733,0.006099,7.309856,0.028714,-0.828437,0.443005,357.799805,112.328835,0.833333
51.525071,-0.192616,0,0,1,0,0,1,0.788818,0.006087,7.296275,0.028491,-0.822005,0.442231,323.212494,111.618688,0.916667
51.516024,-0.177874,0,0,1,0,0,1,0.787622,0.005843,7.287149,0.027781,-0.805172,0.434358,353.029144,121.885236,0.916667
51.515809,-0.123681,0,0,1,1,0,1,0.785376,0.005993,7.287203,0.031012,-0.814944,0.442330,361.602051,113.519165,0.833333
51.513776,-0.177801,0,0,1,0,0,1,0.788210,0.005825,7.288867,0.027261,-0.801880,0.433797,299.359161,103.396250,0.916667
51.488640,-0.086743,0,0,1,1,0,1,0.776030,0.005441,7.292154,0.030801,-0.784825,0.423175,528.199707,165.680665,0.833333
51.486811,-0.187769,0,0,1,1,0,1,0.789262,0.005389,7.257050,0.028431,-0.798539,0.425464,362.062378,113.652798,0.833333
51.486798,-0.184159,0,0,1,0,0,1,0.790554,0.005296,7.251902,0.028654,-0.786836,0.425906,358.050598,123.609789,0.916667
51.479729,-0.104523,0,0,1,1,0,1,0.785926,0.005403,7.269865,0.028580,-0.785026,0.425066,547.978149,171.875869,0.833333

In [8]:
df

,Longitude,Airport,Water,Building,Green_Space,Railway_Station,Urban_Area,Value_co,Value_no2,Value_o3,Value_so2,Value_ai,AQ_score,Pop_density,Greenspace_score,avg_penalty_reward
Latitude,,,,,,,,,,,,,,,,
51.737184,-0.620643,0,0,0,1,0,0,0.764264,0.004088,7.248996,0.032141,-1.031149,0.360777,1.445061,0.723001,0.916667
51.737184,-0.617012,0,0,0,0,0,0,0.764304,0.004140,7.250456,0.032148,-1.035486,0.361721,1.445061,0.768845,1.000000
51.737184,-0.613382,0,0,1,1,0,0,0.764350,0.004143,7.250998,0.032186,-1.037714,0.361822,1.445061,0.655770,0.791667
51.737183,-0.609751,0,0,1,1,0,0,0.764624,0.004142,7.251659,0.032087,-1.035978,0.362065,3.517970,1.272637,0.791667
51.737183,-0.606120,0,0,0,1,0,0,0.764288,0.004142,7.252279,0.031958,-1.039697,0.361140,3.517970,1.437318,0.916667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51.238843,0.312049,0,0,0,1,0,0,0.764161,0.002717,7.310894,0.028964,-0.748909,0.355456,0.916133,0.537470,0.916667
51.238815,0.315640,0,0,0,1,0,0,0.764524,0.002728,7.310550,0.029058,-0.745427,0.356564,0.916133,0.538162,0.916667
51.238786,0.319231,0,1,1,1,0,0,0.764969,0.002732,7.310113,0.029139,-0.744029,0.357403,0.916133,0.438269,0.625000
51.238757,0.322822,0,1,1,0,0,0,0.765131,0.002735,7.311109,0.029128,-0.740657,0.358034,0.916133,0.467353,0.708333
51.238728,0.326412,0,0,0,1,0,0,0.765508,0.002755,7.309666,0.029168,-0.735046,0.359218,0.916133,0.539819,0.916667